header{
    margin-top: 0px;
    background-color: #c37222;
    height: 120px;
    display:inline-block;
}
body{
    margin: 0px;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;

}
body a{
    color: black;
}
h1 {
    color: black;
    font-size: 35px;
}
p{
    color: black;
}
li {
    color: black;
}

.navigationlinks{
    color: darkgray;
    font-size: 15px;
}
.footertext{
    color: darkslateblue;
    font-size: 20px;
}
