body{
    background-color: lightgray;
}
h1 {
    color: black;
}
p{
    color: black;
}
li {
    color: black;
}
.navigationlinks{
    color: darkgray;
    font-size: 15px;
}
.footertext{
    color: darkslateblue;
    font-size: 20px;
}
