head{
    background-color: #c37222;
}
header{
    margin: 0px;
    background-color: #c37222;
    height: 120px;
    display:inline-block;
    font-family: 'Nunito Sans', sans-serif;
}
body{
    margin: 0px;
    background-color: lightgray;
    font-family: 'Nunito Sans', sans-serif;

}
body a{
    color: black;
}
h1 {
    color: black;
    font-size: 35px;
}
h2 {
    color: black;
    font-size: 25px;
}
p{
    color: black;
}
li {
    color: black;
}

.navigationlinks{
    color: darkgray;
    font-size: 15px;
}
.footertext{
    color: darkslateblue;
    font-size: 20px;
}
main{
    max-width: 800px;
    padding: 20px;
}
main img{
    max-width: 100%;
}
a:hover{
    color: #c37222;
    background-color: black;
}
footer{
    background-color: #c37222;
    text-align: center;
    color: black;
    padding: 5px;
    margin: 0;
    }
footer p{
    margin: 0;
}